*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
body{
    background-color: #5bffc0dc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    position: absolute;
    top: 40px;
    font-size: 50px;
}
.inputs{
    background-color: #1c6400;
    padding: 50px;
    border-radius: 10px;
}
h2{
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}
.inputs input{
    width: 100%;
    background-color: #5bffc0dc;
    border: 2px solid #000;
    padding: 5px;
    outline: none;
}
.inputs button{
    background-color: #00ff2a;
    width: 106%;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
}
.inputs button:hover{
    background-color: #00dd25;
}
.inputs button:active{
    background-color: #3aff5b;
}
#tasks{
    background-color: #00bd09;
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px;
}
#tasks p{
    font-weight: bold;
    background-color: #8aff6c;
    margin: 10px 0;
}